.lemon__booking-forms {
  background: var(--Color-Highlight-Light);
  border-radius: 20px;
  padding: 2rem 4rem;
  margin: 2rem auto;
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .lemon__booking-forms {
    padding: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .lemon__booking-forms {
    padding: 1.5rem 1rem;
  }
}
