.lemon__hero {
  display: flex;
  justify-content: space-between;
  font-family: var(--Font-Primary);
  background-color: var(--Color-Primary);
  background: var(--Hero-Back);
}

.lemon__hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lemon__hero-text h1 {
  padding-top: 0.5rem;
  color: var(--Color-Primary-Light);
  font-family: var(--Font-Primary);
  font-weight: 500;
  font-size: 70px;
  line-height: 65px;
  white-space: nowrap;
}

.lemon__hero-text h4 {
  color: #fff;
  font-family: var(--Font-Primary);
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

.lemon__hero-text p {
  font-family: var(--Font-Secondary);
  max-width: 55%;
  color: #fff;
  word-wrap: break-word;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  padding: 1.5rem 2rem 1.5rem 0;
  letter-spacing: 0.01em;
}

.lemon__hero-image {
  display: flex;
  justify-content: flex-end;
  max-width: 374px; /*300*/
  max-height: 393px; /*315*/
  overflow: hidden;

  border-radius: 20px;
}

.lemon__hero-image img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1260px) {
  .lemon__hero-image {
    max-width: 300px;
    max-height: 315px;
  }

  .lemon__hero-text p {
    max-width: 70%;
    padding: 1.2rem 2rem 1.2rem 0;
  }
}

@media screen and (max-width: 1140px) {
  .lemon__hero-image {
    max-width: 300px;
    max-height: 315px;
  }

  .lemon__hero-text p {
    max-width: 80%;
    padding: 1rem 2rem 1rem 0;
  }

  .lemon__hero {
    background: var(--Color-Primary);
  }
}

@media screen and (max-width: 980px) {
  .lemon__hero-image {
    max-width: 264px;
    max-height: 315px;
  }

  .lemon__hero-text h1 {
    padding: 0;
  }

  .lemon__hero-text p {
    max-width: 80%;
    padding: 1rem 2rem 1rem 0;
  }

  .lemon__hero {
    background: var(--Color-Primary);
  }
}

@media screen and (max-width: 800px) {
  .lemon__hero-text h1 {
    font-size: 60px;
  }

  .lemon__hero-text h4 {
    font-size: 28px;
    line-height: 28px;
  }

  .lemon__hero-text {
    max-width: 55%;
  }

  .lemon__hero-text p {
    font-size: 18px;
    padding: 1rem 2rem 1rem 0;
  }
}

@media screen and (max-width: 700px) {
  .lemon__hero {
    background: var(--Color-Primary);
    flex-direction: column;
    align-items: center;
  }

  .lemon__hero-text {
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .lemon__hero-text p,
  .lemon__hero-text h1,
  .lemon__hero-text h4 {
    text-align: center;
  }

  .lemon__hero-text h1 {
    font-size: 65px;
    line-height: 60px;
  }

  .lemon__hero-text {
    max-width: 80%;
  }

  .lemon__hero-text p {
    font-size: 16px;
    max-width: 100%;
    padding: 1rem 0;
  }

  .lemon__hero-image {
    align-self: center;
    max-width: 374px;
    max-height: 393px;
  }
}
