.lemon__booking-forms-btn button {
  font-family: var(--Font-Secondary);
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;

  text-align: center;

  padding: 10px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input:focus,
select:focus,
option:focus {
  box-shadow: inset 0 0 0 2px var(--Color-Primary);
  opacity: 1;
}

button.lemon__booking-forms_secondary-btn {
  color: var(--Color-Primary);
  background: var(--Color-Highlight-light);
  border: 2.5px solid var(--Color-Primary);
  width: 100%;
  max-width: 195px;
}

button.lemon__booking-forms_primary-btn {
  color: white;
  background: var(--Color-Primary);
  outline: none;
  border: none;
  width: 100%;
  max-width: 195px;
}

.lemon__booking-forms-btn {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

h1.lemon__booking-forms-heading {
  font-family: var(--Font-Primary);
  font-weight: 500;
  font-size: 40px;
  line-height: 32px;
  text-decoration-line: underline;
  color: var(--Color-Primary);
  padding-bottom: 2rem;
}

.lemon__booking-forms-correct {
  display: none;
  position: absolute;
  fill: green;
  width: 20px;
  left: 5px;
  top: 50%;
}

.lemon__booking-forms-alert {
  display: none;
  position: absolute;
  fill: red;
  width: 20px;
  left: 5px;
  top: 50%;
}

@media screen and (max-width: 1000px) {
  .lemon__booking-forms-btn {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 760px) {
  .lemon__booking-forms-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
