/* Steps CSS */
.steps,
.completed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__diamond {
  transform: rotate(45deg);
  width: 45px;
  height: 45px;
}

.steps__diamond p {
  transform: rotate(-45deg);
  font-family: var(--Font-Primary);
  font-size: 35px;
  line-height: 32px;
  text-align: center;
  padding: 0.5rem 1.05rem;
}

.name {
  padding-top: 1rem;
  font-family: var(--Font-Primary);
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}

.steps__intersection {
  transition: all 0.1s ease-in-out;
}

/* Steps */
.steps {
  .steps__diamond {
    background: var(--Color-Primary);
  }
  .steps__diamond p {
    color: #ffffff;
  }
  .name {
    color: var(--Color-Primary);
  }
}

/* Completed */
.completed {
  .steps__diamond {
    background: var(--Color-Primary-Light);
  }
  .steps__diamond p {
    color: #000000;
  }
  .name {
    color: #000000;
  }
}

@media screen and (max-width: 600px) {
  .steps__diamond {
    transform: rotate(45deg);
    width: 36px;
    height: 36px;
  }

  .steps__diamond p {
    font-size: 30px;
    line-height: 26px;
    text-align: center;
  }

  .name {
    padding-top: 1rem;
    font-family: var(--Font-Primary);
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }
}
