.lemon__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.lemon__navbar-image {
  cursor: pointer;
  max-height: 60px;
}

.lemon__navbar-links {
  display: flex;
  align-items: center;
}

.lemon__navbar-links p {
  margin-left: 2rem;
  position: relative;
}

.lemon__navbar-links p a,
.lemon__navbar-menu_container-links a {
  font-family: var(--Font-Secondary);
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.lemon__navbar-links p a::after,
.lemon__navbar-menu_container-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--Color-Primary);
  transition: width 0.3s ease;
}

.lemon__navbar-links a:is(:hover, :focus),
.lemon__navbar-menu_container-links a:is(:hover, :focus) {
  color: var(--Color-Primary);
}

.lemon__navbar-links a:is(:hover, :focus)::after,
.lemon__navbar-menu_container-links a:is(:hover, :focus)::after {
  width: 100%;
}

.lemon__navbar-menu {
  display: none;
  position: relative;
}

.lemon__navbar-menu svg {
  cursor: pointer;
  margin-left: 1rem;
}

.lemon__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: #f5f5f5;
  padding: 1.5rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 200px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.lemon__navbar-menu_container p {
  padding: 0.5rem 0;
}

/* Responsive Breakpoints */
@media screen and (max-width: 1180px) {
  .lemon__navbar-links p {
    margin-left: 1rem;
  }

  .lemon__navbar-links a {
    font-size: 17px;
  }
}

@media screen and (max-width: 900px) {
  .lemon__navbar-links {
    display: none;
  }

  .lemon__navbar-menu {
    display: flex;
  }
}
